<template>
    <div class="flex flex-col" >
        <h1>{{game.name}}</h1>
        <div class="flex flex-row">
            <img :src="game.cover" />
            <p>{{game.desc}}</p>
        </div>
        <div class="flex flex-row">
            <platform-view v-for="p in game.platforms" :key="p.id" :platform="p" />
        </div>
    </div>
</template>

<script>
import PlatformView from '~/components/PlatformView.vue'
export default {
    components: {
        PlatformView
    },
    props: {
        game: {
            type: Object,
            required: true
        }
    }
}
</script>

<style lang="postcss" scoped>

</style>
