<template>
    <div>
        <nuxt-link :to="'/platform/' + platform.id">
            <div>{{platform.name}}</div>
            <img v-if="platform.logo != null && platform.log != ''" :src="platform.logo">
        </nuxt-link>
    </div>
</template>

<script>
export default {
    props: {
        platform: {
            type: Object,
            required: true
        }
    }
}
</script>

<style lang="postcss" scoped>

</style>
