<template>
    <div class="border border-gray-500 rounded-lg w-10/12 mx-auto">
        <input
            type="text"
            placeholder="Search"
            class="bg-transparent focus:outline-none outline-none rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
            v-model="searchTerm"
        />
        <ul
            v-if="response.length > 0"
            class="bg-transparent h-40 scrolling-auto overflow-x-hidden"
        >
            <li
                class="py-2 px-4 leading-normal border mx-auto hover:bg-gray-500 hover:text-white"
                :class="classForEl(el)"
                v-for="el in response"
                :key="el.igdbId == undefined ? ('igdb:' + el.id) : el.id"
                @click="select(el)"
            >
                {{ el.name }}
            </li>
        </ul>
    </div>
</template>

<script>

export default {
    props: {
        user: {
            type: Object,
            required: true
        },
        callback: {
            type: Function,
            required: true
        }
    },
    components: {
    },
    data() {
        return {
            searchTerm: "",
            response: []
        }
    },
    watch: {
        searchTerm() {
            const x = this.searchTerm
            if (x == "") {
                this.response = []
                return
            }
            this.search(x)
            .then((res) => { if (x == this.searchTerm) { this.response = res } })
        }
    },
    methods: {
        async select(el) {
            if (el.igdbId == undefined) {
                this.$axios.setHeader("USER_ID", this.user.id)
                this.$axios.setHeader("USER_TOKEN", this.user.token)
                let response = await this.$axios.post('http://localhost:3001/game/', {igdbId: el.id})
                if (response.data.code == 200) {
                    let game = response.data.data
                    this.callback(game.id)
                }
            }
            else { this.callback(el.id) }
            this.searchTerm = ""
            this.response = []
        },
        async search(input) {
            if (input.length == 0) { return [] }

            this.$axios.setHeader("USER_ID", this.user.id)
            this.$axios.setHeader("USER_TOKEN", this.user.token)
            let response = await this.$axios.get('http://localhost:3001/game/' + input)
            let all = response.data.data
            if (all == undefined || all == null) { return [] }
            let gt = all.gameTime || []
            let igdb = all.igdb || []
            let res =  [...gt, ...igdb]
            return res
        },
        classForEl(el) {
            return {'bg-gray-300': (this.response.indexOf(el) % 2 == 0), 'bg-gray-100': (this.response.indexOf(el) % 2 == 1)  }
        }
    }
}
</script>

<style lang="postcss" scoped>
</style>
