<template lang="html">
  <button
      class=" text-white rounded p-2"
      :class="this.colors()"
      @click="this.toogle"
    >
      {{ this.isOn ? this.textOn : this.textOff }}
    </button>
</template>

<script>
export default {
  props: {
    textOn: {
      type: String,
      required: false,
      default: 'Stop'
    },
    textOff: {
      type: String,
      required: false,
      default: 'Start'
    },
    colorOn: {
      type: String,
      required: false,
      default: 'red'
    },
    colorOff: {
      type: String,
      required: false,
      default: 'green'
    },
    callback: {
      type: Function,
      required: false,
    },
  },
  data() { return { isOn: false } },
  methods: {
    toogle() {
      this.isOn = !this.isOn
      if (this.callback) { this.callback(this.isOn) }
    },
    colors() {
      let c1 = "bg-" + (this.isOn ? this.colorOn : this.colorOff) + "-500"
      let c2 = "hover:bg-" + (this.isOn ? this.colorOn : this.colorOff) + "-700"
      let color = {}
      color[c1] = true
      color[c2] = true
      return color
    }
  }
}
</script>

<style lang="postcss" scoped>

</style>
