<template>
    <div class="container mx-auto mt-4">
        <!-- <toogle-button textOn="Off" textOff="On" colorOn="orange" colorOff="purple" :callback="this.buttonChange" /><br/>
        <button @click="this.fetch">Fetch</button>
        <ul>
            <li v-for="user in this.users" :key="user.id">{{user.pseudo}}</li>
        </ul> -->
        <search-bar :user="user" :callback="selectGame" />
        <game-view class="mt-4" v-if="selectedGame != null" :game="selectedGame" />

    </div>
</template>

<script>
import SearchBar from '~/components/SearchBar.vue'
import ToogleButton from '~/components/ToogleButton.vue'
import GameView from '~/components/GameView.vue'

const proxy = 'https://cors-anywhere.herokuapp.com/'
export default {
    components: {
        ToogleButton,
        SearchBar,
        GameView
    },
    data() {
        return {
            user: { id: "9", token: "324410b281748643c7fd027f415ccebe451b312c4947ad61fddef8eb13d0534c" },
            users: [],
            selectedGame: null
        }
    },
    methods: {
        buttonChange(state) {
            console.log(state)
        },
        selectGame(id) {
            this.fetchGame(id)
        },
        async fetchGame(id) {
            let response = await this.$axios.get('http://localhost:3001/game/' + id)
            const g = response.data.data
            let platformsId = g.platforms
            platformsId = platformsId
            g.platforms = []
            this.selectedGame = g

            for (const pId of platformsId) {
                let p = await this.getPlatform(pId)
                g.platforms.push(p)
                console.log(p)
            }
        },
        async getPlatform(id) {
            let response = await this.$axios.get('http://localhost:3001/platform/' + id)
            return response.data.data
        },
        async fetch() {
            let response = await this.$axios.get('http://localhost:3001/user')
            this.users = response.data.data
        }
    }
}
</script>

<style lang="postcss" scoped>
#field {
    border: 1px solid black;
}
</style>
