<template>
    <div>
        <h1>
            {{platform.name}}
        </h1>
    </div>
</template>

<script>
export default {
    validate ({ params }) {
        return params.id != undefined
    },
    async asyncData({ $axios, params }) {
        let response = await $axios.get('http://localhost:3001/platform/' + params.id)
        const p = response.data.data
        console.log(p)
        return { platform: p }
    },
    data() {
        return {
            platform: { name: "Loading" }
        }
    },
}
</script>

<style lang="postcss" scoped>

</style>
